@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #5e5e5e;
}

header {
    background-color: #2268f5;
    position: absolute;
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

header h1 {
    margin-left: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0 15px;
}

.navbar li:hover {

}