@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #999;
  }

::-webkit-scrollbar-thumb {
    background: #777;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    display: flex;
    flex-direction: column;
}

body {
    position: relative;
}

header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

header h1 {
    position: absolute;
    color: white;
    left: 140px;
    top: 12px;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    z-index: 2;
}

.navbar li {
    padding: 0px 10px 0px 10px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 20px 0 0;
}

.navbar li a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 4px 0;
}

.navbar li a:before {
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    background: #f23813;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.navbar li a:hover:before {
    width: 100%;
}

.hero {
    display: flex;
}

.wrapper .hero {
    display: flex;
    background-image: url(../images/coding2.jpg);
    height: 698px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(6px);
    transform: scale(1.1);
}

.wrapper #seal-logo {
    position: absolute;
    top: 0;
}

.wrapper h2 {
    position: absolute;
    top: 150px;
    right: 50px;
    color: white;
    font-size: 70px;
}

.wrapper p {
    position: absolute;
    right: 130px;
    top: 550px;
    color: white;
    font-size: 30px;
    font-weight: 400;
    width: 500px;
}

#seal-logo {
    display: flex;
    z-index: 1;
    border-radius: 50%;
    height: 100px;
    margin: 20px;
}

.current-project-container {
    position: absolute;
    top: 250px;
    left: 300px;
    width: 766px;
    height: 342px;
    z-index: 3;
    
}

.current-project-container h3 {
    color: white;
    position: absolute;
    left: 50px;
    top: 40px;
    font-size: 30px;
    font-weight: 400;
}

.current-project-container img {
    position: absolute;
    top: 80px;
    
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    cursor: pointer;
    
    
}

.current-project-container img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    border-radius: 20px;
    filter: none;
    transition: 1s ease;
}

.work-section {
    position: relative;
    background-color: #4d4e4f;
    margin-top: -4px;
    height: 940px;
}

.work-section h2 {
    position: absolute;
    left: 250px;
    top: 150px;
    color: white;
    font-weight: 400;
    font-size: 40px;
}


@media screen and (max-width: 992px) {
    nav {
        display: none;
    }

    .current-project-container {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .wrapper h2 {
        position: absolute;
        left: 15%;
        top: 250px;
        font-size: 55px;
    }

    .wrapper p {
        position: absolute;
        font-size: 3vw;
        left: 20px;
        text-align: center;
        margin: 0 30px;
    }
}