@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Base Layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #999;
  }

::-webkit-scrollbar-thumb {
    background: #777;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: white;
}

h1, h2, p {
    margin: 1.6rem 0;
}

h1 {
    font-weight: 800;
    font-size: 3.6rem;
}
h2 {
    font-weight: 800;
    font-size: 2.4rem;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
}

img {
    width: 100%;
    height: auto;
}

.projects-row1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section {
    padding: 100px 0;
}


/* Hero Section */

header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url(../images/coding2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo img {
    width: 20%;
    border-radius: 50%;
    display: inline-block;
    
}

.logo h1 {
    display: inline-block;
    font-size: 4rem;
    color: white;
    margin: 0;
}

nav {
    padding: 2% 8% 2% 2%;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

nav box-icon {
    display: none;
}

nav ul li {
    display: inline-block;
    margin-left: 2.5rem;
}

nav ul li a {
    position: relative;
}

nav ul li a:before {
    content: '';
    position: absolute;
    bottom: -0.2rem;
    left: 0;
    height: 0.3rem;
    width: 0%;
    background: orangered;
    transition: all 0.4s ease;
}

nav ul li a:hover:before {
    width: 100%;
}

.header-content {
    width: 50%;
    position: relative;
    top: 10%;
    left: 10%;
}

.header-content h1 {
    width: 50%;
    position: relative;
    font-size: 3.6rem;
}

.header-content-text {
    width: 50%;
    position: relative;
    top: 12%;
    left: 8%;
}

.header-content-text p {
    position: relative;
    text-align: center;
    font-size: 1.8rem;
    min-width: 250px;
}

/* Featured Project Section */

.header-row {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
}

.latest-project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-project h2 {
    color: white;
    font-size: 2.4rem;
    margin-left: 20px;
}

.latest-project img {
    border-radius: 10px;
    border: 5px solid white;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    cursor: pointer;
    margin-left: 20px;
}

.latest-project img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    transform: scale(0.98);
    filter: none;
    transition: 1s ease;
}

.latest-project:hover .latest-project-text-container {
    padding-left: 4px;
    transform: translateX(4px);
    transition: 1s ease-out;
}


.latest-project-text-container {
    display: flex;
    position: absolute;
    left: 3%;
    top: 65%;
    background-color: rgb(255,255,255);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 8px;
}

.latest-project-text-container p {
    color: black;
    font-size: 1.5vw;
    font-weight: 500;
}

/* Main Projects Section */

.projects {
    border-top: 5px solid black;
    display: flex;
    flex-direction: column;
    background-color:rgb(70, 70, 70)
}

.row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row1 h1 {
    color: white;
    margin-bottom: 20px;
}

.row1 p {
    text-align: center;
    color: white;
    font-size: 2.4rem;
}

.row1 img {
    width: 70%;
    border-radius: 10px;
    border: 5px solid white;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    cursor: pointer;
}

.row1 img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    transform: scale(0.98);
    filter: none;
    transition: 1s ease;
}

.row2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.row2 img {
    width: 30%;
    border-radius: 10px;
    border: 5px solid white;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    cursor: pointer;
}

.row2 img:hover {
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    transform: scale(0.98);
    filter: none;
    transition: 1s ease;
}

.row3 {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.row3 p {
    color: white;
    font-size: 2.4rem;
}

/* About Me Section */
.about-me-section {
    border-top: 5px solid black;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url(../images/coding5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Contact Me Section */


/* Media Queries */

@media screen and (max-width: 768px) {
    
    .logo img {
        width: 12%;
    }
    
    .logo h1 {
        font-size: 3.6rem;
    }

    nav {
        flex-direction: column;
        position: relative;
    }

    nav box-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 32px;
    }

    nav ul {
        background: rgba(10, 10, 10, .65);
        box-shadow: 0 8px 32px rgb(2, 4, 24);
        border:2px solid rgb(255, 255, 255, .09);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        display: none;
    }

    nav ul li {
        display: block;
        padding: 2% 0;
    }

    nav ul li a {
        color: white;
    }

    .showmenu {
        display: block;
        text-align: center;
    }

    .latest-project-text-container {
        display: none;
    }

    .row2 {
        flex-direction: column;
        align-items: center;
    }

    .row2 img {
        width: 70%;
    }

    .row3 {
        display: none;
    }
}